 .container {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     padding: 20px 10vw;
 }

 .weather-data {
     display: flex;
     flex-direction: row;
     gap: 10px;
     align-self: flex-end;
     color: #fff;
 }

 .avg-temp {
     font-size: 3rem;
 }

 .search-container {
     display: flex;
     flex-direction: column;
     gap: 20px;
     color: white;
     padding: 10px 30px;
     box-shadow: 0 0 12px black;
     background-color: rgba(0, 0, 0, 0.573);
     width: 25vw;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 .search-container input[type='text'] {
     width: 18vw;
 }

 .search-container input {
     padding: 10px;
     border-radius: 3px;
     border: none;
 }

 .weather-detail {
     display: flex;
     flex-direction: column;
     gap: 20px;
 }

 .weather-detail .title {
     font-size: 1.4rem;
     padding: 5px;
     line-height: 1.1;
 }

 .parameter {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }